<br>
<br>
<br>
<h1>進行状況</h1>
<h1>Rails06 ログイン機能の実装</h1>
<h2>課題</h2>
<p>SessionsControllerにストロングパラメーターを実装してください</p>
<p>実装済み</p>
<p>ApplicationControllerとApplicationHelperのコードをDryにする</p>
<p>理解できていない</p>
<br>
<h1>Rails07 写真投稿機能の作成</h1>
<p>投稿できる写真に制限をかけてください</p>
<p>ログインしていない場合は投稿ボタンを非表示にする</p>
<h2>不具合</h2>
<p>恐らくデータベースをリセットしないと登録が完了できない</p>
<p>いいね済みかどうかによって表示を変える　まだ</p>
